<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beemart.fpoly.beemart">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeMart">
        <activity
            android:name=".QuenMatKhau.MatKhauMoiActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutActivity2"
            android:exported="false" />
        <activity
            android:name=".TabLayoutActivity3"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhau.QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhau.VerifiOTPQuenMatKhau"
            android:exported="false" />
        <activity
            android:name=".ThongBao.HomeThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".DangKyTaiKhoanKhachHang.VerifiOTPDangKy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchFillterItem"
            android:exported="false" />
        <activity
            android:name=".ViBeePay.NapTien"
            android:exported="false" />
        <activity
            android:name=".GioHang.XacNhanThongTinGioHang"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GioHang.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".ViBeePay.ChoXacNhan"
            android:exported="false" />
        <activity
            android:name=".TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".DangKyTaiKhoanKhachHang.DangKyTaiKhoan"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FacebookAuthActivity"
            android:exported="false" />
        <activity
            android:name=".ManHinhChinh"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ShowDetalActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>